<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <title> some website</title>
  </head>
  <body>
<h1>{{pageTitle}}</h1>
<p>{{screamIt welcomeMessage}} </p>

<footer>
   <p>Copyright {{currentYear}}</p> 
</footer>
  </body>


</html>